@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c5e4e7;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tip-container {
  background-color: white;
  border-radius: 25px;
}

.tip-outside {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}